@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }



.img-title {
	position: absolute;
	color: #fff;
	text-align: center;
	left: 0;
	right: 0;
	top: 13%;
	letter-spacing: 3px;
}


.certify {
	position: relative;
	color: black;
	text-align: center;
	left: 0;
	right: 0;
	top: 5%;
	bottom: 5%;
	letter-spacing: 3px;
}


.img1 {
	float: left;
}


section#my-list {
	background-color: dodgerblue;

}

.services li {
	color: beige;
	font-size: 20px;
	padding: 2px;
	text-transform: uppercase;
}


h4 {
	text-align: center;
	font-size: 30px;
}

h5 {
	font-size: 30px;
}

.Contact101 {
	text-align: center;
}

.form-it-up {
	background-color: black;
	color: dodgerblue;
}