nav {

	background-color: black;

	border-color: #425766;
}

.container1 {
	background-image: url("http://freeabqimages.com/photo/?id=365");
	text-align: center;
	color: white;
}
.centered {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
}
.centered2 {
	position: absolute;
	top: 27%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
}

.img1 {
	float: left;
	margin-right: 2rem;


}
section#my-list {
	background-color: dodgerblue;

}
ul#services li {
	color: beige;
	font-size: 20px;
	padding: 7px;
	text-transform: uppercase;
	justify-content: space-between;
	width: 50%;
}


h4 {
	text-align: center;
}

.Contact101 {
	text-align: center;
}

