nav {

	background-color: black;

	border-color: #425766;
}

.container1 {
	background-image: url("http://freeabqimages.com/photo/?id=365");
	text-align: center;
	color: white;
}
.centered {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
}
.centered2 {
	position: absolute;
	top: 27%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
}

.img1 {
	float: left;
	margin-right: 2rem;
}

ul#services li {
	color: beige;
	background-color: dodgerblue;
	font-size:20px;
	padding:10px;
	text-transform: uppercase;
	list-style-type: none;
	justify-content:space-between;
	float: left;
	width: 50%;
}


.Contact101 {
	text-align: center;
}
